.invite_red_pocket_header_wrapper{
  display: flex;
  flex-direction: row;
}
.invite_red_pocket_header{
  background:#FFF;
  height:220px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
.invite_red_top{
  height:88px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size:24px;
  color:#333;
}
.invite_red_pocket_icon{
  width:36px;
  height:42px;
}
.invite_total_xb{
  color:#FF4E4E;
  font-size:32px;
}
.friend_list{
  position:relative;
  margin-top:20px;
  display:flex;
  flex-direction: column;
  background:#FFF;
}
.diamond_friend_info{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:120px;
  border-top:1px solid #e3e3e3;
}
.friend_info_left{
  display:flex;
  flex-direction: row;
  align-items: center;
  padding-left:30px;
}
.friend_info_icon{
  border-radius: 4px;
  width:80px;
  height:80px;
}
.friend_nick_name{
  font-size:28px;
  color:#333;
}
.friend_info_right{
  padding-right:36px;
  display:flex;
  flex-direction: row;
  align-items: center;
  font-size:28px;
  color:#333;
}
.profit_name_time{
  margin-left:20px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.profit_time{
  font-size:24px;
  color:#999;
}
.xt_unit_icon{
  width:24px;
  height:24px;
}
.diamond_friend_item{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


.emptyTips {
  text-align: center;
  height: 120px;
  line-height: 120px;
  background-color: #f5f5f5;
  color: #999999;
}
