.img{
  width: 100%;
}
.price_details_head{
  text-align: center;
  background: #FFFFFF;
  padding-top:62px;
  padding-bottom:46px;
}
.price_details_tit{
  font-size: 36px;
  color:#cc2636;
}
.price_details_tit_intro{
  font-size: 30px;
  color:#cc2636;
  margin-top: 24px;
}
.price_details_num{
  font-size: 30px;
  color:#333333;
  margin-top: 68px;
}
.price_details_num>span{
  color:#eeeeee;
  padding-left:60px;
  padding-right:60px;
}
.price_details_section{
  width: 100%;
  margin-top:30px;
}
.price_zero_details_section_item{
  width:100%;
  margin-bottom:30px;
  background: #FFFFFF;
}
.price_details_section_title{
  width:100%;
  height: 88px;
  line-height: 88px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
}
.price_details_section_item{
  width:100%;
  height:120px;
  line-height:60px;
  padding:30px;
  box-sizing: border-box;
  font-size: 26px;
  color:#666666;
  display: flex;
}
.price_details_section_item_headportrait{
  width:60px;
  height:60px;
  border-radius: 50%;
  background: #F29A3D;
}
.price_details_section_item_headportrait>img{
  width:60px;
  height:60px;
}
.price_details_section_item_name{
  width:187px;
  padding-left:20px;
  padding-right:20px;
  box-sizing: border-box;
  color: #333333;
  overflow: hidden
}
.price_details_section_item_num{
  width:90px;
}
.price_details_section_item_productname{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap
}
.unfold{
  height: 80px;
  line-height: 80px;
  text-align: center;
  background:#F29A3D
}
