<!doctype html>
<html>

<head>
  <meta charset="utf-8"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="email=no"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <title></title>
</head>


<body>
<div id="root"></div>
</body>
<script>

  wx.miniProgram.getEnv(function(res) {
    if (res.miniprogram===true) {
      //银行卡列表
      $('#root').on('click', '.page__bank___3wlAE', function() {
        console.log('银行卡列表')
        wx.miniProgram.navigateTo({ url: '/pages/account/bindbank-list' });

      });

      //提现
      $('#root').on('click', '.page__wallet_item_top_rmb___aE06c', function() {
        console.log('提现')
        wx.miniProgram.navigateTo({ url: '/pages/wallet/withdraw' });

      });

      // 账单明细
      $('#root').on('click', '.page__account_detail___2jBX3', function() {
        wx.miniProgram.navigateTo({ url: '/pages/account/account-list' });

      });

      // 账户安全
      $('#root').on('click', '.page__security___11lED', function() {
        wx.miniProgram.navigateTo({ url: '/pages/account/security' });

      });


      //会员升级
      $('#root').on('click', '.page__vip_right_action___2J0qF', function() {
        // window.g_app._store
        // wx.miniProgram.postMessage({ type: 'user_to_golden_vip' });
        // wx.miniProgram.navigateTo({url: '/path/to/page'})
        const vipType = $(this).attr('vip_type');
        wx.miniProgram.redirectTo({ url: '/pages/pay/pay?type='+vipType});
      });


      // 确认选号后 返回
      $('#root').on('click', '.page__btn_confirm___EWlP0', function() {
        const state = window.g_app._store.getState() ;
        const lotteryselect = state.lotteryselect ;
        wx.miniProgram.postMessage({ data: lotteryselect.selectedBids });
        console.log(lotteryselect);
        wx.miniProgram.navigateBack();
      })
    }
    else {
      //处理客户端事件
      $('#root').on('click', '.page__btn_confirm___EWlP0', function() {
        if($(this).css("opacity")==0.3)return;
        const state = window.g_app._store.getState() ;
        const selectBids = state.lotteryselect.selectedBids ;
        const getBidStr = (total,sum)=>{
          if(total.length==''){
            return sum.text ;
          }
          return total+','+ sum.text ;
        }

        let bidsStrGroup = [] ;
        for(let bid of selectBids){
          const balls = bid.balls ;
          const bidStr = balls.reduce(getBidStr,'');
          bidsStrGroup.push(bidStr);
        }
        console.log(bidsStrGroup)
        window.postMessage(JSON.stringify(selectBids));
      })
    }
  })

  $('#root').on('click', '.page__btn_confirm___EWlP0', function() {
    if($(this).css("opacity")==0.3)return;
    const state = window.g_app._store.getState() ;
    const selectBids = state.lotteryselect.selectedBids ;
    const getBidStr = (total,sum)=>{
      if(total.length==''){
        return sum.text ;
      }
      return total+','+ sum.text ;
    }

    let bidsStrGroup = [] ;
    for(let bid of selectBids){
      const balls = bid.balls ;
      const bidStr = balls.reduce(getBidStr,'');
      bidsStrGroup.push(bidStr);
    }
    console.log(bidsStrGroup)
    window.postMessage(JSON.stringify(selectBids));
  })

</script>
</html>
