.container {
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  /*background-color: #cc2636;*/
}

.no_group {
  /*display: flex;*/
  flex-direction: column;
  /*height: 504px;*/
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 40px;
  /*height: 35%;*/
  flex: 1;

}

.no_group::-webkit-scrollbar {
  display: none;
}

.delBtn_wrapper {
  width: 60px;
  height: 60px;
  /*background-color: gray;*/
  line-height: 60px;
}

.delBtn {
  width: 30px;
  height: 30px;
  backgroundColor: blue;
  margin-right: 10px;
}

.leftWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  /*background-color: yellow;*/
}

.leftWrapper45 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  /*background-color: yellow;*/
}

.nos {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  /*padding: 0 20px;*/
  background-color: #f5f5f5;
  align-items: center;
  position: relative;
}

.seleted_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}

.ball {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #e64340;
  margin-right: 10px;
}

.wrapper_3d .ball {
  width: 62px;
  height: 62px;
  line-height: 62px;
  margin-bottom: 30px;
}

.nos_balls {
  display: flex;
  flex: 1;
  flex-direction: row;
  /*width: 50%;*/
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;

}

.select_panel {
  background-color: #f5f5f5;
  padding: 40px 30px 80px 30px;
  box-sizing: border-box;
  /*background-color: gray;*/

}

.panel_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.jixuan_wrapper {

}

.sepline {
  margin-top: 40px;
  border-top: solid 1px #e1e1e1;
  height: 1px;
  width: 100%;
}

.jixuan {
  color: #cc2636;
  font-size: 24px;
  padding: 8px 12px;
  border: solid 1px #cc2636;
  width: 110px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
}

.opt_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.tips {
  font-size: 24px;
  /*padding: 30px 20px;*/
  padding-bottom: 30px;
  line-height: 30px;
}

.all_ball {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  /*justify-content: space-between;*/
  padding: 5px 0;
  /*background-color: #999999;*/
  /*justify-content: center;*/
}

.wrapper_3d {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

:global(.lottery_btn_confirm) {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 90px;
  background-color: #cc2636;
  color: #FFFFFF;
  line-height: 90px;
  text-align: center;
  font-size: 30px;
}

.rowWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rowWrapper_no_center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stepper {
  width: 240px;
  background-color: #fff;
  border: solid 1px #e1e1e1;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stepperClear {
  width: 240px;
  background-color: #ffffffff;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.plus {
  flex: 1;
  text-align: center;
  line-height: 60px;
  border-left: solid 1px #e1e1e1;

}

.minus {
  flex: 1;
  text-align: center;
  border-right: solid 1px #e1e1e1;
  line-height: 60px;
}

.stepper_value {
  flex: 1.5;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
}

:global(.popup-list .am-list-body) {
  height: 500px;
  overflow: auto;
}

.address {
  height: 40px;

}

.address_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

:global(.lottery_confirm_fucai) {

}

.btn_create_addr{
  padding: 0 20px;
  margin-top: 40px;
}

.addr_btn{
  font-size: 48px;
}
.minus_btn{
  width: 60px;
  height: 60px;
}
.minus_btn img{
  margin: 30px 0 0 20px;
  float: left;
}
.plus_btn{
  width: 60px;
  height: 60px;
}
.plus_btn img{
  margin: 21px 0 0 20px;
  float: left;
}
