.wallet_header{
  position:relative;
  display:flex;
  flex-direction: row;
  background:#8C8E95;
  height:260px;
}
.wallet_item{
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wallet_item_top{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:100px;
  color:#fff;
  font-size:26px;
}

.wallet_item_top_rmb{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:100px;
  color:#fff;
  font-size:26px;
}


.wallet_rmb_icon{
  width:58px;
  height:58px;
}
.wallet_rmb_icon{
  width:58px;
  height:58px;
}
.wallet_item_top_title{
  color:#FFF;
  padding-top:10px;
}
.wallet_money_count{
  margin-top:24px;
  color:#FFF;
}
.wallet_fun{
  position:relative;
  background:#FFF;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  height:644px;
  margin-top:20px;
}
.wallet_fun_item, .bank{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:250px;
  width:33%;
  border-bottom:1px solid #F8F8F8;
}


.wallet_item_top,.account_detail,.security{
  height:86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size:26px;
  color:#333;
}
.my_friend_item_img{
  width:50px;
  height:38px;
}
.my_invite_item_img{
  width:36px;
  height:42px;
}
.my_sale_item_img{
  width:40px;
  height:40px;
}
.my_water_ticket_item_img{
  width:38px;
  height:38px;
}
.my_bank_item_img{
  width:36px;
  height:32px;
}
.wallet_fun_count_item{
  color:#FF4F4E;
  font-size:28px;
  margin-top:40px;
}
.wallet_fun_count_item_big{
  font-size:40px;
  color:#FF4F4E;
  margin-top:40px;
}
