.wallet_header{
  width: 100%;
  height:260px;
  position:relative;
  display:flex;
  flex-direction: row;
  background:#8C8E95;
  padding: 60px 0 50px 0;
  box-sizing: border-box;
}
.wallet_item{
  display:flex;
  flex:1;
  height: 148px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wallet_item_top{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:100px;
  color:#fff;
  font-size:26px;
}
.back_card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:60px;
  color:#fff;
  font-size:26px;
  margin-top: 57px;
}
.back_card_add{
  font-size:40px;
  color:#FF4F4E;
  margin-top:10px;
}
.cutting_line{
  width: 1px;
  height: 128px;
  background-color: #c1c2c5;
}

:global(.wallet_withdraw){
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:100px;
  color:#fff;
  font-size:26px;
}

.wallet_xb_icon{
  /*transform:scale(1.1);*/
}

:global(.wallet_rmb_icon){
  /*transform:scale(1.1);*/
}
.wallet_item_top_title{
  color:#FFF;
  padding-top:15px;
}
.wallet_money_count{
  margin-top:24px;
  color:#FFF;
}
.wallet_fun{
  position:relative;
  background:#FFF;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  height:684px;
  margin-top:20px;
}

.wallet_fun_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:250px;
  width: 33%;
  border-bottom:1px solid #F8F8F8;
}

:global(.wallet_bank){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:250px;
  width:33%;
  border-bottom:1px solid #F8F8F8;
}


.wallet_item_top,.vip,.security,.astro,.back_card{
  height:86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size:26px;
  color:#333;
}

:global(.account_record){
  height:86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size:26px;
  color:#333;
}

.my_friend_item_img{
  width:50px;
  height:38px;
}
.my_invite_item_img{
  width:36px;
  height:42px;
}
.my_sale_item_img{
  width:40px;
  height:40px;
}
.my_water_ticket_item_img{
  width:38px;
  height:38px;
}
.my_bank_item_img{
  width:36px;
  height:32px;
}
.wallet_fun_count_item{
  color:#FF4F4E;
  font-size:28px;
  margin-top:40px;
}
.wallet_fun_count_item_big{
  font-size:40px;
  color:#FF4F4E;
  margin-top:40px;
}
