
html, body, #root {
  height: 100%;
  background-color: #f5f5f5;
}

body {
  margin: 0;
}



body {
  margin: 0;
  overflow-x: hidden;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

/* iphonex fix元素适配 */
.fixed {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  position: fixed;
  z-index: 10;
}
