.my_friend_header{
  position:relative;
  display:flex;
  background:#FFF;
}
.friend_type{
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:20px 0;

}
.friend_title{
  height:80px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  font-size:24px;
  color:#333;
  align-items: center;
}
.friend_count{
  margin-top:32px;
  font-size:32px;
  color:#ff4e4e;
}
.diamond_friend_icon,.gold_friend_icon{
  width:50px;
  height:38px;
}
.friend_list{
  position:relative;
  margin-top:20px;
  display:flex;
  flex-direction: column;
  background:#FFF;
}
.diamond_friend_info{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:120px;
  border-top:1px solid #e3e3e3;
}
.friend_info_left{
  display:flex;
  flex-direction: row;
  align-items: center;
  padding-left:32px;
}
.friend_info_icon{
  border-radius: 4px;
  width:80px;
  height:80px;
}
.friend_nick_name{
  font-size:28px;
  color:#333;
  margin-left:20px;
}
.friend_info_right{
  padding-right:36px;
  display:flex;
  flex-direction: row;
  align-items: center;
  font-size:28px;
  color:#333;
}
.right_arrow{
  margin-left:12px;
  width:18px;
  height:30px;
}

.emptyTips {
  text-align: center;
  height: 120px;
  line-height: 120px;
  background-color: #f5f5f5;
  color: #999999;
}

